---
---

<div style="font-family: 'Satoshi', sans-serif;" class="self-stretch flex flex-col justify-start px-4 items-start gap-10">
    <!-- About Heading -->
    <div class="justify-start text-neutral-800 text-9xl font-semibold">About</div>
    
    <!-- Experience & Description Row -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-2xl ">3 years of experience</div>
        <div class="flex-1 justify-start text-neutral-900 text-lg font-normal">My name is Arjun, and I'm a UI/UX Designer and Developer with 3 years of experience, developing human centered design solutions, starting at a bare-bone level. With the focus of user first, I strive with an fascination about usability, design and development.</div>
    </div>
    
    <!-- Job 1 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-2xl font-normal">2024 - Present</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-5">
            <div class="self-stretch justify-start text-neutral-900 text-2xl font-normal">Lehrmittelstelle Universität Wien,<br/>UI/UX Design & Frontend Development</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Leading the Product Design and developing as a Front-End engineer to create a user-friendly configuration system.</div>
        </div>
    </div>
    
    <!-- Job 2 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-2xl font-normal">2024 - Present</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-5">
            <div class="self-stretch justify-start text-neutral-900 text-2xl font-normal">Wonnda,<br/>Product Management</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Leading the Product Design and Innovation of Wonnda and Wonnda OS</div>
        </div>
    </div>
    
    <!-- Job 3 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-2xl font-normal">2022 - 2023</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-5">
            <div class="self-stretch justify-start text-neutral-900 text-2xl font-normal">Audvice,<br/>User Experience and Quality Assurance</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Leading the Product Design and Innovation of Wonnda and Wonnda OS</div>
        </div>
    </div>
</div>