---
---

<div style="font-family: 'Satoshi', sans-serif;" class="self-stretch flex flex-col justify-start px-4 items-start gap-12">
    <!-- About Heading -->
    <div class="justify-start text-neutral-800 text-9xl font-semibold">Education</div>
    
    <!-- Job 1 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-xl font-normal">2022 - today</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-2">
            <div class="self-stretch justify-start text-neutral-900 text-xl font-normal">University of Applied Sciences St. Pölten<br/>Creative Computing, BsC</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Leading the Product Design and developing as a Front-End engineer to create a user-friendly configuration system.</div>
        </div>
    </div>
    
    <!-- Job 2 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-xl font-normal">2016 - Present</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-2">
            <div class="self-stretch justify-start text-neutral-900 text-xl font-normal">Wonnda,<br/>Product Management</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Leading the Product Design and Innovation of Wonnda and Wonnda OS</div>
        </div>
    </div>

</div>