---
---

<div style="font-family: 'Satoshi', sans-serif;" class="self-stretch flex flex-col justify-start px-4 items-start gap-12">
    <!-- About Heading -->
    <div class="justify-start text-neutral-800 text-8xl font-semibold">Education</div>
    
    <!-- Job 1 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-xl font-normal">2022 - Present</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-2">
            <div class="self-stretch justify-start text-neutral-900 text-xl font-normal">University of Applied Sciences St. Pölten,<br/>Creative Computing BSc</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">UI/UX design, human-computer interaction, and full-stack development formed the core focus areas, combining creative and technical skills to design and build user-centered digital experiences.</div>
        </div>
    </div>
    
    <!-- Job 2 -->
    <div class="self-stretch flex justify-between items-start">
        <div class="flex-1 justify-start text-neutral-900 text-xl font-normal">2016 - 2021</div>
        <div class="flex-1 flex flex-col justify-center items-start gap-2">
            <div class="self-stretch justify-start text-neutral-900 text-xl font-normal">TGM Wien,<br/>Information Technology</div>
            <div class="self-stretch justify-start text-neutral-900 text-lg font-normal">Focus on media technology, software development, and web and game design, complemented by a broad foundation in general IT topics such as programming, networks, and systems.</div>
        </div>
    </div>

</div>