---

---
<!-- Footer Component -->
<footer class="bg-neutral-800 text-white py-4 p-4 w-full rounded-xl mt-12 mb-12">
  <div class="max-w-screen-xl mx-auto px-4 flex justify-between items-center">
    <p class="text-xl font-semibold">&copy; 2025 Arjun Bhogal. All rights reserved.</p>
  </div>
</footer>

