---

---
<!-- Footer Component -->
<footer class="bg-neutral-800 text-white py-4 rounded-xl absolute bottom-12 max-w-screen-xl w-full min-h-[100px] flex items-center">
  <div class="max-w-screen-xl mx-auto px-4 flex justify-between items-center w-full">
    <p class="text-xl font-semibold">&copy; 2025 Arjun Bhogal. All rights reserved.</p>
  </div>
</footer>

