---

---
<!-- Footer Component -->
<footer class="bg-neutral-800 text-white py-4 p-4 w-full rounded-xl mt-16 mb-12 flex-col">
  <div class="max-w-screen-xl mx-auto px-4 flex justify-between items-center">
    <div style="font-family: 'Satoshi', sans-serif;"class ="justfy-start text-White text-md">Interested in collaborating?<br/>Don’t hesitate.</div>

    <p style="font-family: 'Satoshi', sans-serif;" class="text-sm">&copy; 2025 Arjun Bhogal. All rights reserved.</p>
  </div>
</footer>

