---
import { MoveUpRight } from '@lucide/astro';
---

<div class="header">
  <nav class="flex items-center justify-between py-4">
        <p class="text-xl font-medium text-neutral-800">arjun bhogal</p>
        <!-- Center Nav -->
        <div class="hidden md:flex space-x-6">
            <a href="/work" class="text-neutral-800 text-xl font-medium hover:text-neutral-600">work</a>
            <a href="/about" class="text-neutral-800 text-xl font-medium hover:text-neutral-600">about</a>
            <a href="/contact" class="text-neutral-800 text-xl font-medium hover:text-neutral-600">contact</a>
        </div>
        <!-- Email Button -->
        <div class="hidden md:flex items-center space-x-2 bg-neutral-800 hover:bg-neutral-700 transition-colors px-4 py-2 rounded-3xl">
          <a href="mailto:arjun@bhogal.at" class="text-white text-lg font-medium">arjun@bhogal.at</a>
          <MoveUpRight stroke-width="3" class="text-white w-4 h-4 cursor-pointer" />
        </div>

      

  </nav>
</div>