---
---

<div class="space-y-4">
		<h1 class="text-9xl font-semibold text-neutral-800">Hi, I'm Arjun Bhogal <br> A UI/UX Designer</h1>
        <div class ="flex items-center space-x-4">
    
		<p class="text-2xl font-medium text-neutral-800">Based in Vienna, Austria</p>
        <div class="flex items-center text-xl font-medium text-green-500 italic  py-2 rounded-3xl max-w-fit">
            &#x2022; Open to work
        </div>
        </div>
	</div>