---
---

<div id="Hero" class="py-20  px-4">
    <div class="flex items-center justify-between " style="font-family: 'Satoshi', sans-serif;">
        <div id="herotext" class="flex flex-col space-y-3">
            <h1 style="font-family: 'Satoshi', sans-serif;" class="text-8xl font-semibold text-neutral-800">Hi, I'm Arjun Bhogal</h1>
            <h2 style="font-family: 'Satoshi', sans-serif;" class="text-8xl font-semibold text-neutral-800"> A UI/UX Designer </h2>
        </div>
        <img src="/images/arjun_img.png" alt="Arjun Bhogal Img" class="w-64 h-64 rounded-full object-cover" />
    </div>

    <div class="flex items-center space-x-4">
        <p style="font-family: 'Satoshi', sans-serif;" class="font-grotesk text-2xl font-medium text-neutral-800">
            Based in Vienna, Austria
        </p>
        <div style="font-family: 'Satoshi', sans-serif;" class="font-satoshi flex items-center text-green-600 py-2 rounded-3xl max-w-fit">
            <span class="relative flex size-2">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-600 opacity-75"></span>
            <span class="relative inline-flex size-2 rounded-full bg-green-600"></span>
            </span>
    
            <p class="px-1 italic text-xl font-medium">Open to work</p>
        </div>
    </div>
</div>
