---
import IconBadge from "./IconBadge.astro";
---

<div style="font-family: 'Satoshi', sans-serif;" class=" py-16 px-4">
  <!-- Techstack Heading -->
  <h2 class="text-6xl md:text-8xl font-semibold text-neutral-800 mb-12">Techstack</h2>
  
  <!-- Badges Grid - Sorted by category -->
  <div id="badge-group" class="flex flex-wrap gap-4">
    <!-- Languages -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" 
      label="JavaScript" 
      link="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" 
      label="TypeScript" 
      link="https://www.typescriptlang.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" 
      label="Java" 
      link="https://www.java.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" 
      label="Python" 
      link="https://www.python.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg" 
      label="R" 
      link="https://www.r-project.org"
    />
    
    <!-- Frontend Frameworks -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" 
      label="React" 
      link="https://reactjs.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" 
      label="Next.js" 
      link="https://nextjs.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg" 
      label="Astro" 
      link="https://astro.build"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" 
      label="Tailwind" 
      link="https://tailwindcss.com"
    />
    
    <!-- Backend & Runtime -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" 
      label="Node.js" 
      link="https://nodejs.org"
    />
    
    <!-- Databases -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" 
      label="MySQL" 
      link="https://www.mysql.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" 
      label="PostgreSQL" 
      link="https://www.postgresql.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" 
      label="MongoDB" 
      link="https://www.mongodb.com"
    />
    
    <!-- DevOps & Infrastructure -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" 
      label="Docker" 
      link="https://www.docker.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" 
      label="Linux" 
      link="https://www.linux.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/digitalocean/digitalocean-original.svg" 
      label="VPS/Hosting" 
      link="https://en.wikipedia.org/wiki/Virtual_private_server"
    />
    
    <!-- Development Tools -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" 
      label="Git" 
      link="https://git-scm.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" 
      label="VS Code" 
      link="https://code.visualstudio.com"
    />
    
    <!-- Project Management -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" 
      label="Jira" 
      link="https://www.atlassian.com/software/jira"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/confluence/confluence-original.svg" 
      label="Confluence" 
      link="https://www.atlassian.com/software/confluence"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/trello/trello-plain.svg" 
      label="Trello" 
      link="https://trello.com"
    />
    
    <!-- Machine Learning -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original.svg" 
      label="PyTorch" 
      link="https://pytorch.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" 
      label="TensorFlow" 
      link="https://www.tensorflow.org"
    />                   
  </div>
</div>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);



  gsap.from("#badge-group", {
    scrollTrigger: {
      trigger: "#badge-group",
      start: "top 80%", // wenn 20% vom Viewport erreicht
      toggleActions: "play none none none", // einmal abspielen
    },
    y: 80,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    stagger: 0.05,
  });
</script>
