---
import IconBadge from "./IconBadge.astro";
---

<div style="font-family: 'Satoshi', sans-serif;" class=" py-16 px-4">
  <!-- Techstack Heading -->
  <h2 class="text-9xl font-semibold text-neutral-800 mb-12">Techstack</h2>
  
  <!-- Badges Grid -->
  <div class="flex flex-wrap gap-4">
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" 
      label="Figma" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" 
      label="React" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" 
      label="TypeScript" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" 
      label="Tailwind" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" 
      label="Next.js" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" 
      label="Node.js" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" 
      label="Git" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" 
      label="VS Code" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg" 
      label="Astro" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sketch/sketch-original.svg" 
      label="Sketch" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg" 
      label="Photoshop" 
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/illustrator/illustrator-plain.svg" 
      label="Illustrator" 
    />
  </div>
</div>