---
import IconBadge from "./IconBadge.astro";
---

<div style="font-family: 'Satoshi', sans-serif;" class=" py-16 px-4">
  <!-- Techstack Heading -->
  <h2 class="text-8xl font-semibold text-neutral-800 mb-12">Techstack</h2>
  
  <!-- Badges Grid -->
  <div id="badge-group" class="flex flex-wrap gap-4">
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" 
      label="Figma" 
      link="https://www.figma.com"
    />
    <!-- Miro -->
    <IconBadge 
      logoSrc="https://files.readme.io/17d4a23-miro-logo-color-square.png" 
      label="Miro" 
      link="https://miro.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" 
      label="React" 
      link="https://reactjs.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" 
      label="TypeScript" 
      link="https://www.typescriptlang.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" 
      label="Tailwind" 
      link="https://tailwindcss.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" 
      label="Next.js" 
      link="https://nextjs.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" 
      label="Node.js" 
      link="https://nodejs.org"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" 
      label="Git" 
      link="https://git-scm.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" 
      label="VS Code" 
      link="https://code.visualstudio.com"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg" 
      label="Astro" 
      link="https://astro.build"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg" 
      label="Photoshop" 
      link="https://www.adobe.com/products/photoshop.html"
    />
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/illustrator/illustrator-plain.svg" 
      label="Illustrator" 
      link="https://www.adobe.com/products/illustrator.html"
    /> 
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xd/xd-plain.svg" 
      label="Adobe XD" 
      link="https://www.adobe.com/products/xd.html"
    />   
    <!-- Java -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" 
      label="Java" 
      link="https://www.java.com"
    />
    <!-- Python -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" 
      label="Python" 
      link="https://www.python.org"
    />
    <!-- MySQL -->
    <IconBadge 
      logoSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" 
      label="MySQL" 
      link="https://www.mysql.com"
    />                   
  </div>
</div>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);



  gsap.from("#badge-group", {
    scrollTrigger: {
      trigger: "#badge-group",
      start: "top 80%", // wenn 20% vom Viewport erreicht
      toggleActions: "play none none none", // einmal abspielen
    },
    y: 80,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    stagger: 0.05,
  });
</script>
